* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: red; */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  background: blue;
  border-bottom: 1px solid black;
}

.links-container {
  display: flex;
  list-style-type: none;
}

.links-container li {
  margin: 20px;
  color: white;
}

.main {
  display: flex;
}

.left {
  display: flex;
  background: green;
  min-height: 100px;
  width: 50%;
}

.right {
  display: flex;
  flex-direction: column;
  min-height: 100px;

  width: 50%;

  background: grey;
}

.p1 {
  width: 100%;
  display: flex;
  height: 20px;
  background: yellow;
}
.p2 {
  width: 100%;
  display: flex;
  height: 20px;
  background: green;
}
.p3 {
  display: flex;
  height: 20px;
  background: greenyellow;
}
.p4 {
  display: flex;
  height: 20px;
  background: red;
}

.left-p1 {
  width: 100%;
  display: flex;
  background: #000;
}

.right-p2 {
  width: 100%;
  display: flex;
  background: white;
}
