.header {
  display: flex;
  border: 1px solid red;
  margin: 50px;
  padding: 100px;
  justify-content: center;
}
.first {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  background-color: blue;
}
.second {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  background-color: blueviolet;
}
.third {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  background-color: burlywood;
}
.four {
  display: flex;
  flex-direction: column;
  width: 200px;
  justify-content: center;
  background-color: aqua;
}
.cirkle {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: white;
}
